<body>
<dx-data-grid
  [dataSource]="messages"
  [showBorders]="true"
  [showRowLines]="true"
  [showColumnLines]="false"
  [hoverStateEnabled]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0">
  <dxo-paging [pageSize]="5">
  </dxo-paging>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."></dxo-search-panel>
  <dxi-column caption="" cellTemplate="urgentCellTemplate" width="50" [calculateSortValue]="sortIsUrgentColumn" allowSorting="true" columnMinWidth="10" allowSearch="false"></dxi-column>
  <dxi-column caption="Clinic" dataField="clinic" width="100"allowReordering="true" allowSearch="true"></dxi-column>
  <dxi-column caption="Patient Name" cellTemplate="patNameCellTemplate" width="120" allowReordering="true" allowResizing="true" [calculateSortValue]="sortPatNameColumn" [calculateCellValue]="calculateCellNameValue" allowSorting="true" allowSearch="true"></dxi-column>
  <dxi-column caption="Date of Visit" cellTemplate="dateOfVisitTemplate" width="100" allowReordering="true" allowResizing="true" [calculateSortValue]="sortDateOfVisitColumn" [calculateCellValue]="calculateCellDateOfVisitValue" allowSorting="true" allowSearch="true"></dxi-column>
  <dxi-column caption="Provider" cellTemplate="providerCellTemplate" width="150" allowReordering="true" allowResizing="true" [calculateSortValue]="sortProviderNameColumn" [calculateCellValue]="calculateCellProviderValue" allowSorting="true" allowSearch="true"></dxi-column>
  <dxi-column caption="Message" cellTemplate="messageCellTemplate" width="400" allowReordering="true" allowResizing="true" [calculateSortValue]="sortMessageColumn" [calculateCellValue]="calculateCellMessageValue" allowSorting="true" allowSearch="true"></dxi-column>
  <dxi-column caption="" dataField="dateCreated" align="right" width="80" allowReordering="true" allowResizing="true" allowSearch="true"></dxi-column>
  <dxi-column caption="" cellTemplate="dividerCellTemplate" width="15" allowSearch="false"></dxi-column>
  <dxi-column caption="" cellTemplate="buttonsCellTemplate" width="40" allowSearch="false"></dxi-column>
  <div *dxTemplate="let d of 'patNameCellTemplate'">
    <div>{{d.data.patName}}</div>
    <div>#{{d.data.patNum}}</div>
  </div>
  <div *dxTemplate="let d of 'providerCellTemplate'">
    <div>{{d.data.provider}}</div>
    <div>#{{d.data.providerNum}}</div>
  </div>
  <div *dxTemplate="let d of 'messageCellTemplate'">
    <div>From: {{d.data.createdBy}}</div>
    <div>{{d.data.subject}}</div>
    <div>{{d.data.messageText}}</div>
  </div>
  <div *dxTemplate="let d of 'dividerCellTemplate'">
    <div class="divider"></div>
  </div>
  <div *dxTemplate="let d of 'urgentCellTemplate'">
    <img class="warning-format" [src]="[(d.data.urgent)]=='true' ? 'images/warning.png' : ''"/>
  </div>
  <div *dxTemplate="let d of 'buttonsCellTemplate'">
    <img class="arrow-check-format" src="images/arrow-black.png"/>
    <img class="arrow-check-format" src="images/check-mark-hollow.png"/>
  </div>
  <div *dxTemplate="let d of 'dateOfVisitTemplate'">
    <div class="visit-date-format">{{d.data.dateOfVisit}}</div>
  </div>
</dx-data-grid>
</body>
